<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teleport</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="box">
      <div class="b1">
        <img src="/images/train.jpg" alt="train" />
      </div>
      <div class="b2">
        <h1>Teleport</h1>
        <p>
          The long awaited teleporting technology is here. Get to your
          destination with the speed of sound. Are you ready?
        </p>
        <button>Get</button>
      </div>
    </div>
  </body>
</html>
